services:
  weiss:
    build:
      context: "."
      target: prod
      args:
        GIT_REPO: ${GIT_REPO}
        APP_VERSION: ${APP_VERSION}
    image: weiss:${APP_VERSION}
    container_name: weiss
    network_mode: host
    restart: always
    environment:
      - NODE_ENV=production
    depends_on:
      - weiss-epicsws
  weiss-epicsws:
    build:
      context: ./epicsWS
    volumes:
      - ./epicsWS:/app
    image: weiss-epicsws:${APP_VERSION}
    container_name: weiss-epicsws
    ports:
      - "8080:8080"
    restart: always
    environment:
      EPICS_DEFAULT_PROTOCOL: ${EPICS_DEFAULT_PROTOCOL}
      EPICS_CA_ADDR_LIST: ${EPICS_CA_ADDR_LIST}
      EPICS_PVA_ADDR_LIST: ${EPICS_PVA_ADDR_LIST}
