services:
  weiss-demoioc:
    build:
      context: "./examples/exampleIOC/"
    image: weiss-demoioc:${APP_VERSION}
    container_name: weiss-demoioc
    restart: always
    network_mode: host
    tty: true
    stdin_open: true

  weiss-dev:
    build:
      context: "."
      target: dev
      args:
        GIT_REPO: ${GIT_REPO}
        APP_VERSION: ${APP_VERSION}
    volumes:
      - .:/app # Mount the source code for development
      - /app/node_modules # Prevent host node_modules from interfering
    image: weiss-dev:${APP_VERSION}
    container_name: weiss-dev
    network_mode: host
    environment:
      - NODE_ENV=development
    depends_on:
      - weiss-pvapyws
  weiss-pvapyws:
    build:
      context: ./pvaPyWS
    volumes:
      - ./pvaPyWS:/app
    image: weiss-pvapyws:${APP_VERSION}
    container_name: weiss-pvapyws
    ports:
      - "8080:8080"
    restart: always
    environment:
      EPICS_DEFAULT_PROTOCOL: ${EPICS_DEFAULT_PROTOCOL}
      EPICS_CA_ADDR_LIST: ${EPICS_CA_ADDR_LIST}
      EPICS_PVA_ADDR_LIST: ${EPICS_PVA_ADDR_LIST}
