.selectable,
.selected {
  overflow: hidden;
  position: absolute;
}

.selected {
  outline: 2px dashed var(--highlighted);
  box-shadow: 2 2 2px rgba(33, 150, 243, 0.5);
}

.groupBox {
  box-sizing: border-box;
  outline: 1px dashed rgba(80, 80, 80, 0.199);
}
